**/__pycache__
**/*.pyc
**/.git
**/.venv
**/venv
**/node_modules
**/.next
**/.pytest_cache
**/.mypy_cache
*.log
.DS_Store
*.pem
*.key
__pycache__
backend/__pycache__
frontend/.next
frontend/node_modules
