# Git
.git
.gitignore

# IDE-specific
.idea
.vscode

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
bin/
lib/
share/
include/

# macOS
.DS_Store

# Logs
*.log

# Build artifacts
PROpitashka Admin.app/
PROpitashka Admin.spec
dist/
build/








