fastapi[standard]
uvicorn[standard]
asyncpg
redis[hiredis]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
google-generativeai
pillow
aiogram
python-dotenv
alembic
psycopg2-binary

pytest>=8.0
pytest-asyncio>=0.23

